{% load staticfiles %}
<div class="">
  <form id="record-event-form" method="post" track-info="{{track}}">
    {% csrf_token %}
    <audio controls id="myAudio">
      <!-- <source id="myAudioSource" src="{% static 'musicapp\audiofiles\Numb.mp3' %}" type="audio/mp3"> -->
      <source id="myAudioSource" src="{{track.track_location}}" type="audio/mp3">

      Your browser does not support the audio element.
    </audio>
    <br>
    <button onclick="playPrevious()" type="button">Previous</button>
    <button id="button-play" onclick="playAudio()" type="button">Play Audio</button>
    <button id="button-pause" onclick="pauseAudio()" type="button">Pause Audio</button>
    <button onclick="playNext()" type="button">Next</button>
    <button onclick="setPosition()" type="button">Set Pointer to 5 sec</button>

    <input type="submit" value="Submit">
</form>

<a class="btn btn-primary" href="{{next_song.id}}">Next Song</a>
<a class="btn btn-primary" href="{{previous_song.id}}">Previous Song</a>



<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/audioplayer.js' %}"></script>

</div>
