<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">IMDB Demo Application</h1>
        <div class="section editor">
            <label for="movie_id">Id
                <input id="movie_id" type="text" />
            </label>
            <br />
            <label for="popularity">Popularity
                <input id="popularity" type="text" />
            </label>
            <br />
            <label for="director">Director
                <input id="director" type="text" />
            </label>
            <br />
            <label for="genre">Genre
                <input id="genre" type="text" />
            </label>
            <br />
            <label for="imdb_score">IMDB Score
                <input id="imdb_score" type="text" />
            </label>
            <br />
            <label for="name">Name
                <input id="name" type="text" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="movie">
            <table>
                <caption>Movie</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Popularity</th>
                        <th>Director</th>
                        <th>Genre</th>
                        <th>IMDB Score</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>
