h1{
  font-family: "Bungee Shade";
  text-align: center;
}

p{
  font-family: monospace;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
}

body{
  font-size: 20px;
}

#two{
  font-size: 2.0em
}
