<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Playing Music</h1>
    <audio controls autoplay>
      <source src="{% static "Numb.mp3" %}" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <br>
    <audio controls autoplay>
      <source src="https://www.soundjay.com/misc/bell-ringing-01.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
