<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Playing Music</h1>
    {% if request.user.is_authenticated %}
    <script>
      var full_song_list = [];
    </script>
      <h3>List of Songs</h3>
      {% for song in song_list %}
        <p><a href="static/audiofiles/{{ song }}">{{ song }}</a></p>
        <script>
          full_song_list.push("{{ song|safe }}");
        </script>
      {% endfor %}
      <h3>Current Song: <span id='current_song'>{{ song_list|first }}</span></h3>


      <audio controls id="myAudio">
        <source id="myAudioSource" src="{% static "musicapp\audiofiles\Numb.mp3" %}" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      <br>
      <button onclick="playPrevious()" type="button">Previous</button>
      <button onclick="playAudio()" type="button">Play Audio</button>
      <button onclick="pauseAudio()" type="button">Pause Audio</button>
      <button onclick="playNext()" type="button">Next</button>
    {% endif %}
  </body>
  <script type="text/javascript" src="{% static "musicapp/js/master.js" %}">
  </script>
</html>
