<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Playing Music</h1>
    {% if request.user.is_authenticated %}
      <audio controls>
        <source src="{% static "Numb.mp3" %}" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      <br>
      <audio controls id="myAudio">
        <source src="https://www.soundjay.com/misc/bell-ringing-01.mp3" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      <button onclick="playAudio()" type="button">Play Audio</button>
      <button onclick="pauseAudio()" type="button">Pause Audio</button>
    {% endif %}
    <script>
      var x = document.getElementById("myAudio");

      function playAudio() {
        x.play();
      }

      function pauseAudio() {
        x.pause();
      }
    </script>
  </body>
</html>
